//Selector universal
@use "universal";

//Contenedor clocks
@use "components";

//Contador
@use "./timer";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

// Colors
$color-white: hsl(0, 0%, 100%);
$color-grayish-blue: hsl(237, 18%, 59%);
$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-black: hsl(234, 17%, 12%);

// Font size
$font-size-body: 14px;

// Font
$font-family: 'Red Hat Text', sans-serif;

//Mixins
@mixin center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: $font-family;
    font-weight: 700;
    color: $color-white;
    background: url('../assets/images/bg-stars.svg') hsl(249, 18%, 12%);
}

#app {
    width: 100vw;
    height: 100vh;
    background: url('../assets/images/pattern-hills.svg') no-repeat bottom;
    background-size: contain;
    @include center();

    h2 {
        letter-spacing: 10px;
    }

    .countdown {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
    }
}

